* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden; /* Pastikan gambar tidak meluap */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memastikan gambar mengisi area tanpa terdistorsi */
  display: block; /* Menghilangkan spasi ekstra di bawah gambar */
}

/* Gaya untuk overlay gelap */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Hitam dengan opasitas 50% */
  z-index: 1; /* Pastikan overlay di atas gambar */
}

/* Gaya untuk teks di tengah */
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Memposisikan tepat di tengah */
  color: white; /* Warna teks putih */
  text-align: center;
  z-index: 2; /* Pastikan teks di atas overlay */
  width: 80%; /* Batasi lebar teks agar tidak terlalu panjang */
}

#img-beranda {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

/* WHATSAPP */
.whatsapp-popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050; /* Pastikan lebih tinggi dari elemen lain */
}
.whatsapp-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #25d366; /* Warna hijau WhatsApp */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.whatsapp-button:hover {
  transform: scale(1.1);
}
.whatsapp-chat-box {
  position: absolute;
  bottom: 80px;
  right: 0;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 15px;
  display: none;
  transform-origin: bottom right;
  animation: fadeInScale 0.3s ease-out;
}
.whatsapp-chat-box.show {
  display: block;
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
